<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359577288865-l2k8gman6vl8v83o89dhv7gbtsmus8p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359577288865-l2k8gman6vl8v83o89dhv7gbtsmus8p7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>359577288865-3pksm2o1q0aomr233db6bkifs0lbaubi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDW3oJjnYGOt-Mw2G4YsiKFxW743MZGhgc</string>
	<key>GCM_SENDER_ID</key>
	<string>359577288865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.furitshop</string>
	<key>PROJECT_ID</key>
	<string>fir-951d2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-951d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359577288865:ios:345610bae7762798c670e0</string>
</dict>
</plist>